<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Air Ticket Client</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="authService.isLoggedIn()" class="active"><a routerLink="/home">Home</a></li>
      <li *ngIf="authService.isLoggedIn()" ><a routerLink="/seats">Seats</a></li>
      <li *ngIf="!authService.isLoggedIn()" ><a routerLink="/sign-in">Sign In</a></li>
      <li *ngIf="!authService.isLoggedIn()" ><a routerLink="/sign-up">Sign Up</a></li>
      <li *ngIf="authService.isLoggedIn()" ><a routerLink="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
