<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Location</th>
    <th>Blood Group</th>
    <th>Approval</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.location}}</td>
      <td>{{user.bloodGroup}}</td>
      <td (click)="updateUsers(user)">
        <button class="btn btn-primary" *ngIf="!user.isApproved">
         Approve
        </button>
        <button class="btn btn-danger" *ngIf="user.isApproved">
          Remove Approval
        </button>
      </td>
    </tr>
  </tbody>
</table>
